
@using System.Collections.Generic

<div class="_card-container__3vLvb_OX">
    @foreach (var item in products)
    {
        <a class="_card__h02Zyoqn" href="/shop/product/@item["id"]">
            <img class="_card-image__1kgl4ub3" src="@item["imageSrc"]" alt="zapp-pedal">
            <p class="_card-item__1xZ_36uA _card-name__dNF8glxi">@item["name"] </p>
            <p class="_card-item__1xZ_36uA _card-description__4VLJPaWA">@item["description"]</p>
            <p class="_card-item__1xZ_36uA _card-price__1KAFTRkl" data-unit-price="@item["unitPrice"]">@item["price"]</p>
        </a>
    }
</div>

@code
{
    public static readonly List<Dictionary<object, object>> products = new List<Dictionary<object, object>>() {
        new Dictionary<object, object>() {
            { "id", 1 },
            { "name", "product-1"},
            { "description", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum odio natus aspernatur alias unde cumque in perferendis veritatis hic voluptatibus."},
            { "imageSrc", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxaPaOSkg9Yl5_S3CqdO7Ci-V9FvP4rhx4Yg&usqp=CAU"},
            { "price", 11.49},
            { "unitPrice", "Php"},
        },
        new Dictionary<object, object>() {
            { "id", 2 },
            { "name", "product-2"},
            { "description", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, sint."},
            { "imageSrc", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5Q_KVoSsJUAw72h_FWKXSoGqLKwPh8XkG2Yt9YN6iRXo_ezTprlaVIvm0mw7nc6KQ75EfTgBg&usqp=CAc"},
            { "price", 18.72},
            { "unitPrice", "Php"},
        },
        new Dictionary<object, object>() {
            { "id", 3 },
            { "name", "product-3"},
            { "description", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium voluptatum ratione quibusdam voluptas necessitatibus molestiae?"},
            { "imageSrc", "https://cdn.shopify.com/s/files/1/2501/6068/products/products_2FF03-023-4554-000_2FF03-023-4554-000_1594264614380_158x158_crop_center.jpg?v=1594264624"},
            { "price", 8.12},
            { "unitPrice", "Php"},
        },
        new Dictionary<object, object>() {
            { "id", 4 },
            { "name", "product-4"},
            { "description", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum odio natus aspernatur alias unde cumque in perferendis veritatis hic voluptatibus."},
            { "imageSrc", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCXvMPZ7R54hgKoRr05NpCkFRO924GGDRNp7RFd3vR-hbwT2FM3AbNOPvONf5EoU1P06yRfeY&usqp=CAc"},
            { "price", 39.85},
            { "unitPrice", "Php"},
        },
        new Dictionary<object, object>() {
            { "id", 5 },
            { "name", "product-5"},
            { "description", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, sint."},
            { "imageSrc", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2gYZozSzvJkiJx0hpwK86tH3-dragQptbDsipiGuHaofxjdjo9JyrCRfT0bOxdZXbi_DcbKI&usqp=CAc"},
            { "price", 59.89},
            { "unitPrice", "Php"},
        },
    };
}